// // Color
$color-white: #fff;
$color-base: #262626;
$color-blue: #5474fd;
$color-blue-button: #496bfe;
$color-dark-blue: #214af9;
$color-grey: #333;
$color-black-grey: #232323;
// Fonts
$font-josefin: 'Josefin Sans', sans-serif;
$font-aleo: 'Aleo', serif;

// // Path
$path-img: '../img/';